* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
}

#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}

.hero {
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

.logo {
    width: 50px;
    cursor: pointer;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover {
    color: orange;
}

/* Banner Part */
.info {
    width: 45%;
    margin-left: 8%;
    margin-top: 10%;
}

.info h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

span {
    color: orange;
}

.info p {
    color: var(--secondary-color);
    line-height: 1.7;
}

.info a {
    background: var(--secondary-color);
    padding: 10px 15px;
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: 600;
}

.img-box {
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.img-box img {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.back-img {
    height: 90%;
}

.main-img {
    width: 90% !important;
    height: 80%;
    left: 30px;
    position: relative;
}

.img-box:hover .back-img {
    bottom: 70px;
}

.img-box:hover .main-img {
    left: 54%;
}

.social-link {
    margin-left: 8%;
    margin-top: 100px;
}

.social-link a {
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
}

.social-link a:hover {
    color: orange;
}

/* Gallery Part */
.gallery-title {
    text-align: center;
    color: var(--secondary-color);
    font: 2.5em sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px auto;
}

.img-gallery {
    background: var(--primary-color);
    max-width: 1200px;
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.img-gallery img:hover {
    position: relative;
    transform: scale(1.3);
    border-radius: 20px;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    border-radius: 30px;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font: 2em sans-serif;
    color: #fff;
    cursor: pointer;
}

/* Blog Adding Section */

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
    font: 1em sans-serif;
}

form {
    width: 350px;
    background: var(--secondary-color);
    padding: 1rem 2rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

input {
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0;
    border-bottom: 2px solid orange;
    background-color: transparent;
    outline: none;
    font: 1em sans-serif;
    color: var(--primary-color);
}

input:placeholder-shown {
    letter-spacing: 2px;
    font-size: 15px;
}

.form-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
}

.submit {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: orange;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.submit:hover {
    background-color: #fff;
    box-shadow: 0 0 10px orange;
    transition: 0.5s linear;
    border: 2px solid orange;
    color: rgb(84, 84, 84);
}

.blog {
    display: flex;
    padding: 1.5rem 1rem 1rem 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    font: 1em sans-serif;
}

.card {
    background: #fff;
    padding: 1rem 1.5rem 1rem;
    width: 14rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 1rem 1rem;
}

.card h4 {
    font-size: 1.5rem;
    padding-bottom: 7px;
    position: relative;
    display: inline;
}

.card p {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding: 1rem 0;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card h4::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 6px;
    left: 0;
    background: orange;
}

.del {
    padding: 8px 15px;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.416);
    color: white;
}

.del:hover {
    background: red;
    transition: all 0.4s;
    color: white;
}